/* General */

* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    color: black;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

#navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 10px;
}

.navbar-nav {
    font-size: 20px;
    margin-right: 10px;
}

header .nav-item {
    margin: 5px;
}

/* client registration */

.form-group {
    padding: 7px;
}

#client-create-container {
    padding: 10px;
    justify-content: center;
}

/* list clients */

#client-container {
    padding: 40px;
}

#client-container h2 {
    margin-bottom: 10px;
}

#cards-container {
    display: flex;
}

#cards-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}   

#cards-container .card-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.card-button {
    text-align: center;
    padding: 10px;
    margin-top: -30px;
}

.card-button .btn {
    margin: 10px;
}

/* footer */

footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
    color: #fff;
}